#wrapper {
        width:800px;
        margin:100px auto 10px auto;
        font-family:Verdana, sans-serif;
    }
#kind{
  margin-bottom: 20px;
}
    legend {
        width:450px;
        color:#0481b1;
        font-size:16px;
        padding:0 10px;
        background:#fff;
        -moz-border-radius:4px;
        box-shadow: 0 1px 5px rgba(4, 129, 177, 0.5);
        padding:5px 10px;
        text-transform:uppercase;
        font-family:Helvetica, sans-serif;
        font-weight:bold;
    }
    fieldset {
        border-radius:4px;
        background: #fff;
        background: -moz-linear-gradient(#fff, #f9fdff);
        background: -o-linear-gradient(#fff, #f9fdff);
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#f9fdff)); /
        background: -webkit-linear-gradient(#fff, #f9fdff);
        padding:20px;
        border-color:rgba(4, 129, 177, 0.4);
    }
    input.chart1,
    textarea.chart1 {
        width:450px;
        color: #373737;
        background: #fff;
        border: 1px solid #CCCCCC;
        color: #aaa;
        font-size: 14px;
        line-height: 1.2em;
        margin-bottom:15px;

        -moz-border-radius:4px;
        -webkit-border-radius:4px;
        border-radius:4px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
    }
  input.chart1[type="text"],
  input.chart1[type="password"]{
        padding: 8px 6px;
        height: 22px;
        width:280px;
    }
  input.chart1[type="text"]:focus,
  input.chart1[type="password"]:focus {
        width:450px;
        background:#f5fcfe;
        text-indent: 0;
        z-index: 1;
        color: #373737;
        -webkit-transition-duration: 400ms;
        -webkit-transition-property: width, background;
        -webkit-transition-timing-function: ease;
        -moz-transition-duration: 400ms;
        -moz-transition-property: width, background;
        -moz-transition-timing-function: ease;
        -o-transition-duration: 400ms;
        -o-transition-property: width, background;
        -o-transition-timing-function: ease;
        width: 380px;

        border-color:#ccc;
        box-shadow:0 0 5px rgba(4, 129, 177, 0.5);
        opacity:0.6;
    }
  input.chart1[type="submit"]{
        background: #222;
        border: none;
        text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
        text-transform:uppercase;
        color: #eee;
        cursor: pointer;
        font-size: 15px;
        margin: 5px 0;
        padding: 10px 22px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        -webkit-border-radius:4px;
        -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
        -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
        box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
    }
  textarea.chart1 {
        width:70%;
        padding:3px;

        height:120px;
    }
  textarea.chart1:focus {
        background:#ebf8fd;
        text-indent: 0;
        z-index: 1;
        color: #373737;
        opacity:0.6;
        box-shadow:0 0 5px rgba(4, 129, 177, 0.5);
        border-color:#ccc;
    }


@import "compass/css3";

/* Variables */
$width: 15em; // dropdown width
$height: 2.5em; // dropdown height
$ajust: 1em; // left & right padding in dropdown menu
$radius: 3px;

/* Colors */
$black: #4d4d4d;
$grey: #ecf0f1;
$dark-grey: #bdc3c7;
$green: #2ecc71;

/* Common style */
*{ box-sizing: border-box; }

body{
  font-family: 'Open Sans', sans-serif;
  color: $black;
}

h1{
  font-family: 'Playball', cursive;
  font-size: 6em;
  font-weight: 700;
  text-align: center;
  color: $green;
  margin: 0.25em 0; // Cosmetic value
}

h2{
  font-family: 'Playball', cursive;
  text-align: center;
  margin-bottom: 2em; // Cosmetic value
}

main{
  background: #333;
  width: 100%;
  padding: 30px;
  text-align: center;
  margin-bottom: 30px;
  font-style: italic;

  a{
    color: #e75854;
    text-decoration: none;
    transition: color 250ms ease-in-out;

    &:hover{ color: #fafafa; }
  }
}

/* Dropdown style */
.dropdown{
	width: $width;
  margin: 0 auto;
}

	dt{
		a {
			display: block;
      height: $height;
      width: 100%;

			border: 1px solid $grey;
			border-radius: $radius;
			text-decoration: none;

			&:hover, &:active{
				border-color: $dark-grey;
			}
		}

		span{
      display: block;
			padding: 0 $ajust;

      line-height: $height;
			border-right: $ajust solid transparent;
      cursor: pointer;
		}
	}

	dd {
		position: relative;

		ul {
      display: none;
      position: absolute;
      left: 0;
			top: -$height;
      width: 100%;

      list-style: none;
			background: #fff none repeat scroll 0 0;
			border: 1px solid $dark-grey;
			border-radius: $radius;

      li:first-child a:hover{
        border-radius: $radius $radius 0 0;
      }

      li:last-child a:hover{
        border-radius: 0 0 $radius $radius;
      }
		}

		li a {
      display: block;
			padding: 0 $ajust;

			line-height: $height;
      text-decoration: none;

			&:hover{
				background-color: $green;
				color: #fff;
				cursor: pointer;
			}
		}
	}
}

.selected{
	font-weight: 700;
}




body {
  text-align: center;
  font-family: Arial, Helvetica;
    background: #bee5fb;
}

.square {
  width: .7em;
  height: .7em;
  margin: .5em;
  display: inline-block;
}

/* Custom dropdown */
.custom-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-top: 10px;
  margin-bottom: 10px;
}

.custom-dropdown select {
  background-color: #0481b1;
  color: #fff;
  font-size: inherit;
  padding: .5em;
  padding-right: 2.5em;
  border: 0;
  margin: 0;
  border-radius: 3px;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-appearance: button; /* hide default arrow in chrome OSX */
}

.custom-dropdown::before,
.custom-dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.custom-dropdown::after { /*  Custom dropdown arrow */
  content: "\25BC";
  height: 1em;
  font-size: .625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -.5em;
}

.custom-dropdown::before { /*  Custom dropdown arrow cover */
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
}

.custom-dropdown select[disabled] {
  color: rgba(0,0,0,.3);
}

.custom-dropdown select[disabled]::after {
  color: rgba(0,0,0,.1);
}

.custom-dropdown::before {
  background-color: rgba(0,0,0,.15);
}

.custom-dropdown::after {
  color: rgba(0,0,0,.4);
}
